body{
 color: grey;
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
}

table td {
padding-right: 5px;
}

table td#clube {
    
    padding-right: 440px;
    border-left: 2px solid rgb(19,159,252);
    
    }


table td#clubeLaranja {
    
        padding-right: 440px;
        border-left: 2px solid orange;
        
        }


        table td#clubeVerde {
    
            padding-right: 440px;
            border-left: 2px solid green;
            
            }

            table td#clubeSem {
    
                padding-right: 440px;
                border-left: 2px solid white;
                
                }

                table td#clubeVermelho {
    
                    padding-right: 440px;
                    border-left: 2px solid red;
                    
                    }


   img.time{
    
    max-width:48px;
    max-height:48px;
    width: auto;
    height: auto;
    

   }

   img.verificacao{
    max-width:15px;
    max-height:15px;
    width: auto;
    height: auto
   }

   table div.estatiticas{
    border-right: 1px solid blue;
   }
   